

<div class="home-container">
    <h2>SCORE</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" sortable="name">Name</th>
                <th scope="col" sortable="score">Score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index" [class.odd-row]="i % 2 === 0">
                <td>{{ i + 1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.score }}</td>
            </tr>
        </tbody>
    </table>
</div>